<header>
  <div>
    <a class="title" href="/">futoase development blog.</a>
    <span class="menu">
      <ul>
        <li><a href="/articles.html">articles</a></li>
        <li><a href="/tags.html">tags</a></li>
        <li><a href="/year.html">year</a></li>
        <li><a href="/me.html">me</a></li>
      </ul> 
    </span>
  </div>
</header>
