<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />

    <title>Futoase development blog</title>
    <link rel="stylesheet" href="/stylesheets/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/solarized-light.min.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/main_design.css" type="text/css" />

  </head>
  <body>
    <%= partial "header" %>

    <div id="container">
      <aside>
        <h2>By Year</h2>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
          <% end %>
        </ol>
      </aside>
    </div>

    <%= partial "footer" %>
  </body>
</html>
