html, body {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  margin: 0;
  padding: 0;
  display: block;
  height: 50px;
  width: 100%;
  background-color: #000;
  display: block;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 0 10px 0;
}

footer div {
  margin-left: auto;
  margin-right: auto; 
}

div#container {
  margin: 0 30px 0 30px;
}

a.title {
  margin-left: 30px;
  line-height: 50px;
  font-weight: bold;
  font-size: x-large;
}

span.menu {
  margin: 0 5px 0 0;
  position: absolute;
  right: 0px;

  line-height: 50px;
}

span.menu ul {
  display: inline;
}

span.menu li {
  display: inline;
  float: left;
  margin: 0 5px 0 5px;
}
